html {
  background-color: #E8E8E8;
  font-size: 18px;
}

.App {
  text-align: center;
}

.currencyBtn{
  margin: 3px;
  border-radius: 50%;
  height: 48px;
  background-color: aliceblue;
  font-size: 18px;
}

.currencyBtn:focus {
  outline: none;
  background-color: #B8B8B8;
}

