html {
  background-color: #E8E8E8;
  font-size: 18px;
}

.App {
  text-align: center;
}

.App h2 , span {
  font-size: 1.5em;
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

.currencyBtn {
  margin: 3px;
  border-radius: 50%;
  outline: none;
  height: 48px;
  background-color: aliceblue;
  font-size: 18px;
}

.selected {
  background-color:lightblue;
}
