.rate-list {
    list-style: none;
    padding: 0;
}

.ratesBorder{
    border: 3px #C8C8C8 solid;
    margin: 5px;
    width: 60%;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;   
}

p {
    margin: 8px;
}